# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Cache
.cache
.turbo

# Logs
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
.DS_Store
*.pem
